hsds.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://hsds.enea.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://hsds.enea.com/" name="SessionQueryService">
<types>
<xsd:schema>
<xsd:import namespace="http://hsds.enea.com/" schemaLocation="https://10.217.82.228:8081/sessionQuery?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="queryByAssignedAddress">
<part name="AssignedAddressFilter" element="tns:AssignedAddressFilter"></part>
</message>
<message name="queryByAssignedAddressResponse">
<part name="SessionData" element="tns:SessionData"></part>
</message>
<message name="SessionQueryException">
<part name="fault" element="tns:SessionQueryFault"></part>
</message>
<message name="queryByCallingStationID">
<part name="CallingStationIDFilter" element="tns:CallingStationIDFilter"></part>
</message>
<message name="queryByCallingStationIDResponse">
<part name="SessionData" element="tns:SessionData"></part>
</message>
<message name="querySQLQuery">
<part name="SQLQueryFilter" element="tns:SQLQueryFilter"></part>
</message>
<message name="querySQLQueryResponse">
<part name="SessionData" element="tns:SessionData"></part>
</message>
<message name="queryByUserRealm">
<part name="UserRealmFilter" element="tns:UserRealmFilter"></part>
</message>
<message name="queryByUserRealmResponse">
<part name="SessionData" element="tns:SessionData"></part>
</message>
<portType name="SessionQuery">
<operation name="queryByAssignedAddress">
<input wsam:Action="http://hsds.enea.com/SessionQuery/queryByAssignedAddressRequest" message="tns:queryByAssignedAddress"></input>
<output wsam:Action="http://hsds.enea.com/SessionQuery/queryByAssignedAddressResponse" message="tns:queryByAssignedAddressResponse"></output>
<fault message="tns:SessionQueryException" name="SessionQueryException" wsam:Action="http://hsds.enea.com/SessionQuery/queryByAssignedAddress/Fault/SessionQueryException"></fault>
</operation>
<operation name="queryByCallingStationID">
<input wsam:Action="http://hsds.enea.com/SessionQuery/queryByCallingStationIDRequest" message="tns:queryByCallingStationID"></input>
<output wsam:Action="http://hsds.enea.com/SessionQuery/queryByCallingStationIDResponse" message="tns:queryByCallingStationIDResponse"></output>
<fault message="tns:SessionQueryException" name="SessionQueryException" wsam:Action="http://hsds.enea.com/SessionQuery/queryByCallingStationID/Fault/SessionQueryException"></fault>
</operation>
<operation name="querySQLQuery">
<input wsam:Action="http://hsds.enea.com/SessionQuery/querySQLQueryRequest" message="tns:querySQLQuery"></input>
<output wsam:Action="http://hsds.enea.com/SessionQuery/querySQLQueryResponse" message="tns:querySQLQueryResponse"></output>
<fault message="tns:SessionQueryException" name="SessionQueryException" wsam:Action="http://hsds.enea.com/SessionQuery/querySQLQuery/Fault/SessionQueryException"></fault>
</operation>
<operation name="queryByUserRealm">
<input wsam:Action="http://hsds.enea.com/SessionQuery/queryByUserRealmRequest" message="tns:queryByUserRealm"></input>
<output wsam:Action="http://hsds.enea.com/SessionQuery/queryByUserRealmResponse" message="tns:queryByUserRealmResponse"></output>
<fault message="tns:SessionQueryException" name="SessionQueryException" wsam:Action="http://hsds.enea.com/SessionQuery/queryByUserRealm/Fault/SessionQueryException"></fault>
</operation>
</portType>
<binding name="SessionQueryPortBinding" type="tns:SessionQuery">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="queryByAssignedAddress">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SessionQueryException">
<soap:fault name="SessionQueryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="queryByCallingStationID">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SessionQueryException">
<soap:fault name="SessionQueryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="querySQLQuery">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SessionQueryException">
<soap:fault name="SessionQueryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="queryByUserRealm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SessionQueryException">
<soap:fault name="SessionQueryException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="SessionQueryService">
<port name="SessionQueryPort" binding="tns:SessionQueryPortBinding">
<soap:address location="https://10.217.82.228:8081/sessionQuery"></soap:address>
</port>
</service>
</definitions>